// app global css in SCSS form
.q-header {
  background-color: $bg-Navbar;
  margin: 0;
}

.q-drawer {
  background-color: $bg-Navbar !important;
}

body {
  background-color: $bg-Navbar !important;
}

.q-page-container {
  background-color: $bg-Navbar !important;
}
